body {
  font-family: Fira Sans, Arial, sans-serif;
  margin: 0px;
  color: #141414;
  margin-bottom: 1000px;
}

h1,
h2,
h3,
p {
  margin: 0px;
}

ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

img {
  max-width: 100%;
  display: block;
}

.experiencia-subtitulo {
  font-size: 4.5rem;
  line-height: 1.2;
  text-transform: uppercase;
  color: #CCCCCC;
align-content: center;
}