.introducao {
  max-width: 1200px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 60px 40px;
  margin: 0 auto;
  gap: 40px;
  align-items: center;
}

.introducao h1 {
  font-size: 5rem;
  line-height: 1.15;
  margin-bottom: 100px;
  position: relative;
  color: #141414;
}

.introducao p {
  font-size: 1.5rem;
  line-height: 1.3;
  color: #141414;
}

.introducao h1::before {
  content: "";
  display: block;
  width: 130px;
  height: 100px;
  background: url(../img/decoXL.svg) no-repeat center;
  position: absolute;
  top: -15px;
  left: -50px;
  z-index: -1;
}

@media (max-width: 1000px) {
  .introducao h1 {
    font-size: 3rem;
  }
}

@media (max-width: 800px) {
  .introducao {
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }
  .introducao h1 {
    font-size: 2rem;
  }
  .introducao p {
    font-size: 0.75rem;
    line-height: 1.4;
  }
  .introducao h1::before {
    width: 30px;
    height: 30px;
    left: -6px;
    top: 0px;
  }
}

@media (max-width: 600px) {
  .introducao {
    grid-template-columns: 1fr;
  }
  .introducao img {
    display: none;
  }
}
